<p id="notice">
  <%= notice %>
</p>
<h1>Listing Tasks</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Priority</th>
      <th>Current status</th>
      <th>Deleted</th>
      <th>Hidden</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= task.title %>
        </td>
        <td>
          <%= task.priority %>
        </td>
        <td>
          <%= task.current_status %>
        </td>
        <td>
          <%= task.deleted %>
        </td>
        <td>
          <%= task.hidden %>
        </td>
        <td>
          <%= link_to 'Show', kanban_board_task_path(@kanban_board,task) %>
        </td>
        <td>
          <%= link_to 'Edit', edit_kanban_board_task_path(@kanban_board,task) %>
        </td>
        <td>
          <%= link_to 'Destroy', kanban_board_task_path(@kanban_board,task), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Task', new_kanban_board_task_path(@kanban_board) %>

