<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(root_url, class: "navbar-brand") do %>
        <%= icon("tasks") %>
        Kanban Boards
      <% end %>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <% unless user_signed_in? %>
        <%= form_for(:user, url: session_path(:user), html: { class: "navbar-form navbar-right" }) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
          <%= f.submit("Sign in", class: "btn btn-success") %>
          <%= link_to(new_registration_path(:user), class: "btn btn-primary") do %>
            <%= icon("user-plus") %>
            Sign up
          <% end %>
        <% end %>
      <% else %>
        <form class="navbar-form navbar-right">
          <div class="form-group gravatar-container">
            <%= link_to(edit_user_registration_path(current_user)) do %>
              <%= image_tag(avatar_url(current_user), class: "img-circle", size: "32x32") %>
            <% end %>
          </div>
          <div class="form-group">
            <%= link_to(destroy_user_session_path(@user), class: "btn btn-default btn-sm pull-right", method: :delete) do %>
              <%= icon("exclamation-circle") %>
              Log out
            <% end %>
          </div>
        </form>
      <% end %>
    </div>
  </div>
</nav>